.cal
{
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
    padding-top: 20px;
    margin: 0 auto;
    height: 250px;
    background-color: gray;
}


.input
{
    border: 1px solid black;
    width: 93%;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 3px;
    
}

.clear
{
    width: 96%;
    margin-left: 3px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
    border: 2px black solid;


}

.butt
{
    width: 75px;
    margin-left: 6px;
    margin-bottom: 5px;
    border: 2px black solid;
    border-radius: 5px;
    height: 30px;


}